@import url('https://fonts.googleapis.com/css?family=Share');

body{
	background-color: #dddcda;
}

.maincontent{
    display: flex; 
}

header{
    font-family: 'Share', cursive;
    color: #fff;
    background-color:#000;
    margin-bottom :25px;
    justify-content: space-between;
    border-bottom: 3px solid #d6006f;
}

.headerarea{
    justify-content: space-between;
}

.searchform{
    height:20px;
    margin:auto 0;
}

.searchform button{
    margin-left: 5px;
}

.imagecontainer, .headerarea{
    display: flex;
    flex-direction: row;
    width:940px;
    margin : 0 auto;   
    flex-wrap: wrap;    
    padding:0;
}

.imagecontent{
    display: flex;    
    width: 25%;  
    flex-flow: row wrap;
}

.contentbody{
    margin:0 auto;
}

.contentarea{
    border: 1px solid #aaaaaa;
    
    margin: 10px; 
    background-color: #fff;	   
	-webkit-box-shadow: -1px 0px 30px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 30px -8px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 30px -8px rgba(0,0,0,0.75);
    flex-direction: column;    
}
.contentinfo{
    padding:10px;
}

.imagecontent p, .imagecontent a{
    /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.contentinfo .title{font-size:1.1em}
.imagecontent p{
    font-size: 0.8em;    
    padding:3px 0;
    margin : 3px 0;
}

.imagecontent p.description{
    font-size :1em;
    max-height: 300px;
    overflow-y: auto;
}

.imagecontent img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 100%;
    height:auto;
}

.imageblock{
    width:100%;
    overflow-x: hidden;
}

.description img {
    display: none;
}

.tags{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    padding:0;
}

.tags li{
    padding-right: 5px;
}

.sitemsg{
    text-align: center;
}

@media (min-width: 320px){
    .imagecontainer, .headerarea{        
        flex-direction: column;
        width:auto;   
        padding-left:10px;
        padding-right: 10px;     
    }

    .headerarea {
        padding-bottom: 10px;
    }

    .imagecontent{           
        width: 100%; 
    }
}

@media (min-width: 576px){}

@media (min-width: 768px){
    .imagecontainer, .headerarea{        
        flex-direction: row; 
        width:auto;
    }

    .imagecontent{           
        width: 33.3%; 
    }
}
@media (min-width: 992px){
    .imagecontent{           
        width: 25%; 
    }
}
@media (min-width: 1200px){
    .imagecontainer, .headerarea{
        display: flex;
        flex-direction: row;
        /* width:940px; */
        width: 1500px;
        margin : 0 auto;   
        flex-wrap: wrap;    
        padding:0;
    }
}